article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
/* 1 */

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

/* ----- MY STYLING STARTS HERE ----- */

/* --- GENERIC STYLES --- */

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  color: white;
}

.wrapper {
  margin: 0 auto;
  max-width: 1240px;
  width: 90%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: #116500;
}

.links a:hover {
  color: white;
}

.aboutpark button:hover {
  background-color: white;
  color: #116500;
}

.posts button:hover {
  background-color: #116500;
  color: white;
}

.stay-updated button:hover {
  background-color: white;
  color: #2c2d2c;
}

img {
  display: block;
  max-width: 100%;
}

button {
  width: 180px;
  padding: 11px 0 10px 0;
  border: none;
  text-transform: uppercase;
  text-align: center;
}

p {
  margin: 18px 0;
  line-height: 3.5rem;
  letter-spacing: 0.02rem;
  font-weight: 300;
}

h2 {
  margin: 0;
  color: #116500;
  font-size: 4.2rem;
}

.logo, header h1, .main-nav, .social-media {
  text-shadow: 2px 2px 4px #000000;
}

h2, button, .logo, .links a, footer h4, .footer-nav {
  font-family: 'Offside';
  font-weight: 300;
}

button, p, .logo, .main-nav, input[type=email] {
  font-size: 2.0rem;
}

h1, p, .main-nav {
  font-family: 'Barlow';
}

/* HEADER STYLES */

header {
  background-image: url(images/header-image.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo, .main-nav {
  padding-top: 20px;
}

.logo {
  float: left;
  width: 150px;
}

.main-nav {
  float: right;
  font-weight: 600;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.fa-bars {
  display: none;
}

h1 {
  clear: both;
  width: 450px;
  padding-top: 60px;
  font-size: 6rem;
  line-height: 6.5rem;
  font-weight: 300;
}

.social-media {
  float: right;
  width: 95%;
  position: fixed;
  text-align: center;
  left: 49%;
  top: 20%;
}

.social-media li {
  padding-top: 15px;
}

/* NEW FRIENDS */

.new-friends {
  background-color: #D6F1E4;
}

.new-friends h2 {
  padding: 50px 0;
  text-align: center;
}

.new-friends li {
  float: left;
  width: calc((100% - 80px) / 3);
}

.new-friends li:nth-of-type(2) {
  margin: 0 40px;
}

.new-friends img {
  padding-bottom: 100px;
}

/* MORE ABOUT OUR PARK */

.aboutpark {
  padding-bottom: 100px;
  background-color: #D6F1E4;
  color: #116500;
}

.aboutpark p {
  color: black;
}

.about-image-container {
  float: left;
  width: 25%;
  padding-top: 15px;
}

.about-content-container {
  float: left;
  width: 75%;
  padding-left: 40px;
}

.aboutpark button {
  background-color: #116500;
  color: white;
}

/* POSTS - BOBBY AND BELLA / LOOK AT MARCO NOW */

.posts {
  background-color: #213C28;
  width: 100%;
  line-height: 5.0rem;
}

.posts button {
  color: #116500;
}

.posts h2, .posts p {
  color: white;
}

.post1-content-container {
  float: left;
  width: 50%;
  padding: 9% 5% 0 0;
}

.post1-image-container {
  float: right;
  clear: right;
  width: 50%;
}

.post2-content-container {
  float: right;
  width: 50%;
  padding: 9% 0 0 5%;
}

.post2-image-container {
  float: left;
  width: 50%;
}

.post2-image-container img {
  float: right;
}

/* LINKS - DONATIONS / JOBS / EVENTS */

.links {
  padding: 80px 15% 60px 15%;
  background-color: #D6F1E4;
  text-align: center;
}

.links li {
  float: left;
  width: calc(100% / 3);
  color: #2C2D2C;
}

.links i {
  width: 100%;
  padding-bottom: 10px;
}

.links a {
  color: #116500;
  font-size: 3.0rem;
}

/* FOOTER STUFF */

footer {
  padding: 100px 0 80px 0;
  background-color: #213C28;
  color: white;
}

footer h4 {
  margin: 0;
  padding: 0;
  font-size: 3.0rem;
}

.stay-updated {
  float: left;
  width: 50%;
}

.stay-updated p {
  margin: 10px 0;
}

input[type=email] {
  float: left;
  width: calc(100% - 180px);
  height: 50px;
  padding: 0 0 0 34px;
}

.stay-updated button {
  background-color: #2c2d2c;
  color: white;
}

.contact-and-nav {
  float: right;
  width: calc(50% - 80px);
}

.contact {
  float: left;
}

.footer-nav {
  float: right;
  text-align: right;
  font-size: 2.8rem;
}

.contact-and-nav p {
  margin: 4px 0 0;
}

.copyright {
  clear: both;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #2C2D2C;
  color: white;
  font-family: sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

/* ALL MEDIA QUERIES */

@media (max-width: 1240px) {
  .post1-content-container {
    padding: 5% 5% 0 0;
  }
  .post2-content-container {
    padding: 5% 0 0 5%;
  }
}

@media (max-width: 1080px) {
  .posts h2 {
    padding: 0;
    font-size: 3.1rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  .post1-content-container, .post2-content-container {
    padding-top: 5%;
  }
  .contact-and-nav {
    float: right;
    width: calc(50% - 50px);
  }
  .contact p {
    line-height: 3.0rem;
  }
  button {
    padding: 7px 0;
  }
  input[type=email] {
    height: 42px;
  }
}

@media (max-width: 940px) {
  h1 {
    width: 320px;
  }
  .main-nav li, .social-media {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .aboutpark p, .posts p {
    margin-top: 0;
    font-size: 1.7rem;
  }
  .post1-content-container, .post2-content-container {
    padding-top: 3%;
  }
  .stay-updated {
    float: none;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
  .contact-and-nav {
    width: 100%;
    padding-top: 40px;
  }
  footer {
    padding-top: 10%;
  }
}

@media (max-width: 870px) {
  h2 {
    font-size: 3.8rem;
  }
  .new-friends li {
    overflow: hidden;
  }
  .new-friends li img {
    margin: 0 auto;
    padding-bottom: 10%;
    width: 100%;
  }
  .new-friends li:nth-of-type(1), .new-friends li:nth-of-type(2) {
    margin: 0 auto;
    width: 50%;
  }
  .new-friends li:nth-of-type(1) {
    padding-right: 2%;
  }
  .new-friends li:nth-of-type(2) {
    padding-left: 2%;
  }
  .new-friends li:nth-of-type(3) {
    clear: both;
    width: 100%;
  }
  .new-friends li:nth-of-type(3) img {
    margin: -20% 0;
    width: 100%;
  }
  .aboutpark {
    padding-top: 3%;
    padding-bottom: 10%;
  }
  .aboutpark p {
    padding-top: 10px;
    font-size: 2.0rem;
    line-height: 3.0rem;
  }
  .about-image-container {
    display: none;
  }
  .about-content-container {
    width: 100%;
    padding: 0;
  }
  button {
    display: block;
    margin: 0 auto;
    padding: 15px 0;
  }
  .post1-image-container, .post2-image-container {
    width: 100%;
    overflow: hidden;
  }
  .post1-image-container img {
    margin: -15% 0;
    width: 100%;
  }
  .post2-image-container img {
    margin: -5% 0;
    width: 100%;
  }
  .post1-content-container, .post2-content-container {
    padding: 8% 0;
    width: 100%;
  }
  .post1-content-container h2, .post1-content-container button, .post2-content-container h2, .post2-content-container button {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .post1-content-container p, .post2-content-container p {
    font-size: 2.0rem;
    line-height: 3.0rem;
  }
  .links {
    padding: 50px 0;
  }
  .links li {
    float: none;
    margin: 0 auto;
    padding: 20px 0;
  }
  .links a {
    padding: 0;
    margin: 0;
  }
  .stay-updated p {
    margin-bottom: 0;
  }
  input[type=email] {
    margin: 20px auto;
    width: 100%;
    padding: 25px 0;
    text-align: center;
  }
  .stay-updated button {
    clear: both;
    margin-top: 2%;
  }
}

@media (max-width: 490px) {
  h1 {
    width: 260px;
  }
  .contact h4 {
    font-size: 2.1rem;
  }
  .contact p {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  .footer-nav {
    font-size: 2.0rem;
    line-height: 3.0rem;
  }
  .copyright {
    font-size: 1.4rem;
  }
  .links li {
    margin: 0 auto;
    width: 200px;
  }
}